.header {
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--line-color);
    background-color: var(--primary-bg-color);
    align-items: center;
    z-index: 1;
}

.header-logo {
    padding: 1rem;
}

.header-logo-img {
    max-width: 3.5rem;
}

.header-logo-img img {
    max-width: 100%;
    display: block;
    height: auto;
}

.logout-btn {
    align-items: center;
    height: 2.5rem;
}

@media only screen and (max-width: 600px) {

    .header-logo h1 {
        font-size: 1.5rem;
    }

    .header-logo-img {
        max-width: 3rem;
    }

    .logout-btn {
        width: 6rem;
        font-size: 1rem;
        justify-content: space-evenly;
    }

}