.signup-header {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.signup-form-div {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.signup-name-div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.name-input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.name-input-div label {
    margin-left: 0.2rem;
}

.name-input-div input {
    width: 12rem;
    padding: 0.75rem 0.5rem;
    border-radius: 8px;
    border-color: transparent;
    background-color: var(--aside-bg-color);
    color: var(--white);
    caret-color: var(--submit-btn-color);
}

.name-input-div input:focus {
    outline: transparent;
    border: 2px solid var(--submit-btn-color);
}

.form-input-div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.form-input-div label {
    margin-left: 0.2rem;
}

.form-input-div input {
    width: 25rem;
    padding: 0.75rem 0.5rem;
    border-radius: 8px;
    border-color: transparent;
    background-color: var(--aside-bg-color);
    color: var(--white);
    caret-color: var(--submit-btn-color);
}

.form-input-div input:focus {
    outline: none;
    border: 2px solid var(--submit-btn-color);
}

.error-message{
    /* color: rgb(217, 48, 37); */
    color: red;
    font-size: 0.8rem;
    margin-left: 0.25rem;
}

.form-error input{
    border: 2px solid red;
}

.action-txt {
    color: var(--submit-btn-color);
    font-weight: 500;
    padding: 0.5rem 0.2rem;
    max-width: fit-content;
}

.submit-btn {
    background-color: var(--submit-btn-color);
    padding: 0.4rem 1.25rem;
    color: var(--white);
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 5px;
    border-color: transparent;
}

.submit-btn:hover {
    background-color: var(--blue-700);
}

.action-txt:hover {
    color: var(--blue-600);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .signup-name-div {
        flex-direction: column;
        gap: 0rem;
    }

    .name-input-div input {
        width: 25rem;
    }

}

@media only screen and (max-width: 475px) {

    .name-input-div input {
        max-width: 20rem;
    }

    .form-input-div input {
        max-width: 20rem;
    }

}
  